* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imgs-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 400px;
    height: 300px;
    display: block;
    margin: 20px 0;
}